@using Fluorite.MobileSite.Data
@model Fluorite.MobileSite.Data.Article

@{
    Layout = null;
    var seller = ViewBag.Seller as Seller;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            font-size: 15px;
            font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif !important;
        }

        object {
            max-width: 100%;
        }

        img {
            width: 100%;
        }

        .header {
            vertical-align: middle;
            text-align: center;
            position: fixed;
            width: 100%;
        }
    </style>
</head>
<body>
<div style="margin: 0 auto; width: 90%">
    <div class="header">
        <img class="back" src="@(string.IsNullOrEmpty(seller.LogoUrl) ? "/页面内元素打包/顶部元素/顶部LOGO.png" : seller.LogoUrl)" 
             style="width: 50%"/>
    </div>
    <div class="header_replacement"></div>
    @Html.Raw(Model.Content)
</div>
    <script src="~/Content/jquery-1.9.1.min.js"></script>
<script>
    var windowWidth = $(window).width();
    var setResponsiveValue = function ($obj, values, propertyNames) {
        if (propertyNames && values) {
            var finalValue = 0;
            for (var i = 0; i < propertyNames.length; i++) {
                if (values[i] !== undefined) {
                    finalValue = (values[i] * windowWidth) / 320;
                }
                $obj.css(propertyNames[i], finalValue + 'px');
            }
        }
    }
    setResponsiveValue($('.header img'), [32], ['height']);
    setResponsiveValue($('.header'), [40, 40, 18,5,8], ['height', 'line-height', 'font-size','top','right']);
    setResponsiveValue($('.header_replacement'), [50], ['height']);
    $('.back').on('touchend', function (event) {
        window.location.href = '/shop/@(seller.Name)';
    });
</script>
</body>
</html>
