@{
    Layout = "~/Views/_Layout.cshtml";
}
<link href="~/Content/index.css" rel="stylesheet" />

<div class="left fl">
</div>
<div class="right fl">
    <div class="right_main">
        <div class="head w100">
            <div class="menu fl">
                <i class="fa fa-bars"></i>
            </div>
            <div class="logo fl">
                <img src="~/页面内元素打包/顶部元素/顶部LOGO.png"/>
            </div>
            <div class="user fl">
                <i class="fa fa-circle"></i>
            </div>
        </div>
        <div class="cf"></div>
        <div id="owl-example" class="owl-carousel w100">
            <div>
                <img src="~/页面内元素打包/内容元素/大图01.jpg" />
            </div>
            <div>
                <img src="~/页面内元素打包/内容元素/大图02.jpg" />
            </div>
            <div>
                <img src="~/页面内元素打包/内容元素/大图03.jpg" />
            </div>
            <div>
                <img src="~/页面内元素打包/内容元素/大图04.jpg" />
            </div>
            <div>
                <img src="~/页面内元素打包/内容元素/大图05.jpg" />
            </div>
        </div>

        <div class="content w100">
            <div class="item">
                <div class="item_img">
                    <img src="~/页面内元素打包/内容元素/大图02.jpg" />
                </div>
                <div class="item_text">标题文字标题文字标题文字标题文字</div>
            </div>
            <div class="item">
                <div class="item_img">
                    <img src="~/页面内元素打包/内容元素/大图03.jpg" />
                </div>
                <div class="item_text">标题文字标题文字标题文字标题文字</div>
            </div>
            <div class="item">
                <div class="item_img">
                    <img src="~/页面内元素打包/内容元素/大图04.jpg" />
                </div>
                <div class="item_text">标题文字标题文字标题文字标题文字</div>
            </div>
            <div class="item">
                <div class="item_img">
                    <img src="~/页面内元素打包/内容元素/大图05.jpg" />
                </div>
                <div class="item_text">标题文字标题文字标题文字标题文字</div>
            </div>
        </div>
        <div class="foot">
            <div class="foot_logo">
                <div class="fl foot_left_logo">
                    <img src="~/页面内元素打包/内容元素/小LOGO图片01.jpg"/>
                </div>
                <div class="fr foot_right_text">
                    标题文字标题文字标题文字
                </div>
            </div>
            <div class="cf"></div>
            <div class="foot_logo">
                <div class="fl foot_left_logo">

                    <img src="~/页面内元素打包/内容元素/小LOGO图片02.jpg" />
                </div>
                <div class="fr foot_right_text">
                    标题文字标题文字标题文字
                </div>
            </div>
            <div class="foot_bottom w100">
                <img src="~/页面内元素打包/底部元素/底部logo-图片.png" class="w100" />
            </div>
        </div>
    </div>
</div>
<script>
    window.scrollTo(1000, 0);
    var leftShow = false;
    $(document).ready(function () {
        $("#owl-example").owlCarousel();
    });
    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    $('div.left').css('height', windowHeight + 'px');
    $('div.main').css('width', (windowWidth * 166/100) +'px');
    $('div.menu').on('click', function() {
        if (leftShow) {
            window.scrollTo(1000, 0);
            leftShow = false;
        } else {
            window.scrollTo(0, 0);
            leftShow = true;
        }
    });
//    $("div.content").on("touchend", function () {
//        var leftSwipe = window.scrollX < currentX;
//        var rightSwipe = window.scrollX > currentX;
//        if ((window.scrollX - currentX)>200) {
//            window.scrollTo(0, 0);
//            currentX = window.scrollX;
//        }
//    });
</script>