@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>404</title>
</head>
<body>
    <div style="margin: 200px auto; width: 30%;">
        <img src="~/Content/404.jpg" />
    </div>
</body>
</html>