@model string

@{
    ViewBag.Title = "荧石网络";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>登录</title>
    <style>
        html, body {
            font-size: 15px;
            font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif !important;
        }
    </style>
</head>
<body>
    <div style="margin: 0 auto; width: 85%">
        @Html.Raw(Model)
    </div>
</body>
</html>
