.main {
    background-color: rgb(236, 236, 237);
}
.header {
    background-color: rgb(199, 159, 99);
    vertical-align: middle;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.header_replacement {
    height: 35px;
    background-color: rgb(236, 236, 237);
}
.mid {
    width: 90%;
    margin-left : auto;
    margin-right: auto;
    background-color: rgb(236, 236, 237);
}
.mid img {
    width: 100% !important;
}
.footer {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    background-color: rgb(236, 236, 237);
    color: #9f9f9f;
}
.btnOrder {
    width: 100%;
    background-color: rgb(199, 159, 99);
    color: #9f9f9f;
}

body {
    background-color: rgb(236, 236, 237);
}
.form-group label {
    font-weight: normal !important;
    color: #585858 !important;
}
.form-control {
    color: #cacaca !important;
}

