.main {
    background-color: rgb(236, 236, 237);
}
.header {
    background-color: rgb(199, 159, 99);
    vertical-align: middle;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.header_replacement {
    height: 35px;
    background-color: rgb(236, 236, 237);
}
.mid {
    width: 90%;
    margin-left : auto;
    margin-right: auto;
    background-color: rgb(236, 236, 237);
}

.footer {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    background-color: rgb(236, 236, 237);
    
}
.btnOrder {
    width: 100%;
    background-color: rgb(199, 159, 99);
    color: white;
}

body {
    background-color: rgb(236, 236, 237);
}