@using Fluorite.MobileSite.Data
@model dynamic

@{
    Layout = "~/Views/_AdminLayout.cshtml";
    var sellers = ViewBag.Sellers as List<Seller>;
}
<style>
    h1 {
        display: inline-block;
    }

    #btn_add_seller {
        float: right;
    }
</style>

<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">商家管理</h1>
        <input type="button" value="新增商家" id="btn_add_seller" data-toggle="modal" data-target="#myModal" />
    </div>
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>商家名称</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        @if (sellers != null && sellers.Any())
        {
            foreach (var seller in sellers)
            {
                <tr>
                    <td>@seller.Name</td>
                    <td>@seller.CreateTime.ToLongDateString()</td>
                    <td>
                        <input type="button" value="管理" class="btn btn-primary" />
                        <input type="button" value="删除" class="btn btn-danger" />
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增商家</h4>
            </div>
            <div class="modal-body">
                <form id="form_add_seller">
                    <div class="form-group">
                        <label>商户名称</label>
                        <input type="text" class="form-control" name="Name" placeholder="商户名称">
                    </div>
                    <div class="form-group">
                        <label>商户联系人</label>
                        <input type="text" class="form-control" name="Contacts" placeholder="商户联系人">
                    </div>
                    <div class="form-group">
                        <label>电话</label>
                        <input type="text" class="form-control" name="Tel" placeholder="电话">
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <textarea class="form-control" rows="3" name="Remarks"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_close">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_save">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($) {
        $('#btn_save').on('click', function () {
            var command = $('#form_add_seller').serializeJson();
            $.ajax({
                url: "@Url.Action("AddSeller","Admin")",
                type: 'post',
                data: command,
                success: function () {
                    document.getElementById('btn_close').click();
                    window.location.reload();
                },
                error: function () {
                    alert('服务器错误');
                }
            });
        });
    })(jQuery);
</script>