@{
    Layout = null;
    var title = ViewBag.Title as string;
    title = string.IsNullOrEmpty(title) ? "荧石微站" : title;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@title</title>
    <link href="~/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
            font-size: 15px;
            font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif !important;
        }

        div.main {
            margin: 0 auto;
        }
        img { width: 100%;}
    </style>
    <script src="~/Content/jquery-1.9.1.min.js"></script>
</head>
<body>
    <img src="~/Content/加载图标红点.gif" class="loading" style="position: fixed; top: 200px;left: 120px;" />
<div class="main" style="display: none">
    @RenderBody()
</div>
</body>
</html>
