@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="~/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
            font-size: 15px;
            font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif;
        }

        div.main {
            margin: 0 auto;
        }
        img, object { max-width: 100%;}
    </style>
    <script src="~/Content/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div class="main">
        @RenderBody()
    </div>
</body>
</html>
